@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost&display=swap'); 

$green:#27300f;
$orange:#d26a22;
$white:#ffffff;

$font-jost:'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html { 
    font-size: 10px;
}

body {
    font-size:1.6rem;
    font-family: $font-jost; 
    
}
.container {
    max-width: 1440px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    max-width: 1440px;
    margin:0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color:$green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        background-color: $orange;
        width:4rem;
        height: 4rem;
        border-radius: 100%;
        background-size: 1.7rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border-color: $green;
            cursor: pointer;
            
        }  
    }
    
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right:1rem;
        top: .6rem;
    }

    }
  
.logo {
    display:block;
    background-image: url(../images/logo.svg);
    width: 12rem;
    height: 3.2rem;;
    background-repeat: no-repeat;
    background-size: contain;
}

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        margin-top: 6rem;
        max-width: 378px;
    }
    &__link {
        margin-top:6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:30px;
    }
    &__cover {
        flex-basis:763px;
        height:763px;
        border:1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    
    &__line {
        width:656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_img {
            box-shadow: 27px 34px 49px -17px rgba(39, 48, 15, 0.7);
            border-radius:100%;
        }
        
    }
    &__image {
        width: 92%;
        
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        border:none;
        padding:0;
        position: absolute;
        text-align:left;
        &:hover {
            .main__btn {
                &::before {
                    
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                    background-color: $orange;

                }
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height:11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%; 
            position:absolute;
        }

        &_1 {
           top:48px;
           left:67px; 
           &::before {
            bottom: 9px;
            right: -35px;
           }    
        }
        &_2 {
            top: 194px;
            right:2px;
            &::before {
                top:17px;
                left:-26px;
               }    
        }

        &_3 {
            bottom:-50px;
            right:244px;
            &::before {
                top:-24px;
                left:13px;
               }    
        }
    }
    &__food {
        display:block;
        color:rgba($green, 0.8)
    }
    &__tomato, &__avocado, &__cucumber, &__pepper, &__beans {
        position: absolute ;
    }
    &__tomato {
        bottom: 131px;
        right: 149px;    
        width: 11rem;
        z-index: -1;
    }
    &__avocado {
        top:54px;
        right:23px;
        width: 17.8rem;
        z-index: -1;

    }
    &__cucumber {
        top: 0px;
        left: 717px;
        width: 8.5rem;
        z-index: -1;

    }
    &__pepper {
        left: 67px;
        top: 399px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans {
        left: 32px;
        bottom: 176px;
        width: 10.5rem;
        z-index: -1; 

    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    margin:0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin:0;
    line-height: 1.5;  
    
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color:$white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0rem 1rem 1.1rem .2rem rgba (207,92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display:inline-block;
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;
    &__text{
        margin-top: 6rem;
        max-width: 700px;
    }
    &__slider {
        overflow: hidden;
        padding-top:100px;
    }
}
.swiper {
    overflow:initial;
    &-slide {
        border:1px solid $green;
        max-width: 460px;
        height:520px;
        
        
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top:-50px;
        width:10px;
        height:18px;
        &::after {
            color:$green;
            display:none;
        }
    }
    &-button-prev {
        left:initial;
        right:83px;
        background-image: url(../images/arrow-prev.svg);
    }
    &-button-next {
        background-image: url(../images/arrow-next.svg);  
        right:2px;
    }
}