@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost&display=swap'); 

$green:#27300f;
$orange:#d26a22;
$white:#ffffff;

$font-jost:'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html { 
    font-size: 10px;
}
body {
    font-size:1.6rem;
    font-family: $font-jost; 
}

.header {
    max-width: 1440px;
    margin:0 auto 6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color:$green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart-black.svg);
        background-color: $orange;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        background-size: 1.7rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            color: $green;
            border: 1px solid $green;
        }
    }
    
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right:1rem;
        top: .6rem;
    }

    }
  
.logo {
    display:block;
    background-image: url(../images/logo.svg);
    width: 12.3rem;
    height: 3.2rem;;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1440px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    &__item {
        margin-left: 12rem;
        margin-top: 6rem;
        max-width: 378px;
    }
    &__link {
        margin-top:6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:30px;
    }
    &__cover {
        flex-basis:763px;
        height:763px;
        border:1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    &__line {
        width:658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__btn {
        border:none;
        background-color: transparent;
        padding:0;
        position: absolute;
        color:$green;
        text-align:left;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;

                }
            }
        }
        &::before {
            content: '';
            width: 11px;
            height:11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%; 
            position:absolute;
        }

        &_1 {
           top:22;
           left:75; 
           &::before {
            top:0;
            left:0;
           }    
        }
        &_2 {
            top: 200;
            right:200;
            &::before {
                top:200;
                left:200;
               }    
        }

        &_3 {
            top:50;
            right:200;
            &::before {
                top:0;
                left:0;
               }    
        }
    }
    &__food {
        display:block;
        color:rgba($green, 0.8)
    }
    &__tomato {
        position:absolute;
        bottom:265;
        right:111;
        width: 11rem;
    }
    &__avocado {
        position:absolute;
        top:62;
        right:-15;
        width: 17.8rem;

    }
    &__cucumber {
        position:absolute;
        bottom:0;
        right:100;
        width: 8.5rem;

    }
    &__pepper {
        position: absolute;
        left:0;
        bottom:0;
        width: 8.6rem;
    }
    &__beans {
        position: absolute;
        left:0;
        bottom:0;
        width: 10.5rem;

    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    margin:0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    &_size-s {
        font-size: 1.8rem;
        margin:0;
    }
}
.link {
    color:$white;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0rem 1rem 1.1rem .2rem rgba (207,92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.2rem;
    display:inline-block;
}